a {
    text-decoration: none;
    color: inherit;
}

body {
    width:100%;
    overflow-x: hidden;
}

h3{
    color: #C71585;
    margin-bottom: 1vw;
    font-size: 1vw;
    font-family: 'Noto Serif JP', serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: auto;
    padding: 1vw 0;
}

.header__logo{
    width: 12%;
    margin-left: 2em;
}

.header-nav__list{
    display: flex;
    font-size:1.2vw;
    font-weight: bold;
    list-style: none;
    color: #A9A9A9;
}

.header-nav__item{
    margin-right: 1em;
}

.eyecatch{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    font-family: 'Gorditas', cursive;
    font-family: 'Noto Serif JP', serif;
}
.eyecatch span{
    color: #20B2AA;
}

.eyecatch__title{
    position: absolute;
    top: 15%;
    left: 18%;
    z-index: 10;
    font-size: 4vw;
}

.eyecatch__subtitle{
    position: absolute;
    top: 57%;
    left: 18%;
    font-size: 2vw;
}

.eyecatch__discription{
    position: absolute;
    top: 64%;
    left: 18%;
    font-size: 1.2vw;
    color: #A9A9A9;
}

.eyecatch__image{
    width: 60%;
    display: block;
    margin: 0 0 0 auto;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5%;
    height: 50%;
}

.info__subtitle{
    margin-left: -65vw;
    display: block;
}

.info__title{
    margin-left: -62vw;
    font-size: 1.3vw;
    margin-bottom: 0;
    color: #747474;
    display: block;
}

.info__list{
    width: 80%;
    font-size: 1.3vw;
    color: #A9A9A9;
    /* padding-top: 3vh; */
    position: relative;
    margin-top: 4%;
    margin-left: 5%;
    table-layout: auto;
    border-collapse: separate
}

/*上部の線を疑似要素で作成*/
.info__list::after {
    content:"";
    display: block;
    position: absolute;
    left: 50%;
    top:-2vw;
    transform: translate(-50%);
    width: 100%;
    height: 2px;
    background-color: #c5c5c5;
}

/*下部の線を疑似要素で作成*/
.info__list::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%);
    width: 100%;
    height: 2px;
    background-color: #c5c5c5;
}

.info__list-date,
.info__list-note,
.info__list-text {
    border-bottom: solid 1px #A9A9A9;
    padding: 1rem 0;
    text-align: left;
    /* background-color: #20B2AA; */
}

.info__list-note {
    color: #e5e5e5;
    position: relative;
    z-index: 10;
}

.info__list-date{
    width: 1rem;
}
.info__list-note {
    /* background-color:#C71585; */
    text-align: center;
}

.info__list-note::after {
    content: "";
    position:absolute;
    height: 80%;
    width: 7vw;
    left: 18%;
    top: 12%;
    background-color: #C71585;
    border-radius:40px 40px;
    z-index:-1;
}

.about{
    display: block;
    width: 80%;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%,20%);
    background-color: #e8e8e8;
    padding: 1% 100%;
}

.about-header {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about__title{
    font-size: 2vw;
    margin-top: 2rem;
    color: #747474;
}

.about-content{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 5%;
}
.about__image {
    width:40%;
}

.about__description {
    font-size: 1.5vw;
    color: #585656;
    line-height: 2vw;
}

.about__description p:first-child {
    margin-bottom: 2.5vw;
}

.service{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vw;
    margin-top: 15%;
}

.service__title {
    font-size: 1.3vw;
    margin-bottom: 1rem;
    color: #747474;
    margin-left: -71vw;
    color: #747474;
}

.service__subtitle {
    margin-left: -75vw;
}

.service__detail{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: 60%;
    background-color: #C71585;
}
.service__detail h4 {
    color: #e5e5e5;
    font-size: 1.2vw;
    padding: 1vw;
}

.service__detail p {
    color: #e5e5e5;
    font-size: 1vw;
    line-height: 2vw;
    width: 80%;
}


.service__detail-eyecatch{
    width:10vw;
}

.service__detail-description--left{
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: darkmagenta;
}

.service__detail-description--right-top {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(203, 70, 203);
}

.service__detail-description--right-top h4{
    margin-left: 1vw;
}
.service__detail-description--right-top p {
    padding: 0 2vw;
    width: 90%;
}

.service__detail-description--right-bottom h4 {
    margin-left: 1vw;
}
.service__detail-description--right-bottom p {
    padding: 0 2vw;
    width: 90%;
}

.service__detail-description--right-bottom {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(156, 107, 156);
}


.service__detail-text--column {
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -8vw;
    padding-top: 5vw;
    background-color: #e8e8e8;;
    width: 100%;
}

.link__subtitle{
    margin-left: -76vw;
}

.link__title {
    font-size: 1.3vw;
    color: #747474;
    margin-bottom: 1rem;
    margin-left: -74vw;
}

.link__content {
    width:80%;
    display: flex;
    justify-content: space-between;
}

.link__content-card {
    width:32%;
    border-radius: 1vw 1vw;
    background-color: white;
    position: relative;
}

.link__content-card-title{
    position:absolute;
    font-size: 1.5vw;
    color: white;
    background-color: #C71585;
    padding: 1rem;
    border-radius: 1vw 0 0 0;
}
.link__content-card-image {
    width:100%;
    border-radius: 1vw 1vw 0 0;
}

.link__content-card-text--center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.link__content-card-text {
    color: rgb(91, 90, 90);
    font-size: 1.2vw;
    line-height: 2vw;
    width:75%;
}

.link__content-card-text--between{
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
    margin: 2rem 3rem;
}

.link__content-btn {
    color:#C71585;
    font-size: 1.5vw;
    margin: 5rem;
    padding: 1vw 3vw;
    border: solid 2px #C71585;
    border-radius: 5vw 5vw;
    background-color: white;
}

.company--block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.company__title{
    font-size: 1.5vw;
    color: #747474;
    margin-bottom: 1rem;
    margin-left: -44vw;
}

.company__subtitle {
    margin-left: -45vw;
}

.company__list {
    width:50%;
    border-collapse: collapse;
}

table th {
    border: 1px solid #ccc;
    padding: 1vw ;
    text-align: left;
    font-size: 1vw;
}

.company__list-header{
    font-weight: bold;
    background-color: #dedede;
}

.company__list-description {
    color:#A9A9A9;
}

.company-link{
    position:relative;
    display: flex;
    margin-bottom: 2vw;
}

.company-link__image{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    width: 50vw;
}

.company-link__text--left {
    position: absolute;
    top:50%;
    left:25%;
    transform: translate(-50%,-50%);
    font-size: 2.2vw;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.company-link__text--right {
    position:absolute;
    top: 50%;
    right: 25%;
    transform: translate(50%,-50%);
    font-size: 2.2vw;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.contact__btn-image {
    background-color: #C71585;
    width: 10%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6vw 0;
}

.contact__text {
    font-size:1.3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5b5858;
}

.contact__rectangle {
    background-color: #C71585;
    width:2px;
    height: 3vw;
    margin: 1vw 0;
}

.contact__btn {
    position:relative;
}

.contact__btn-text {
    font-size:1.5vw;
    color:white;
    background: linear-gradient(to right ,#dd0c91, #a7076c);
    box-shadow: 0 10px 10px #5d043c;
    padding: 2vw 5vw;
    border-radius: 4vw;
}



.contact__btn-image {
    position:absolute;
    top:30%;
    left:10%;
}

.footer {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    margin:2vw 0 0;
    background-color: #e8e8e8;
    padding: 2vw 0;
    width: 100%;
}
